<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Falcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Falcon.Properties.Settings>
            <setting name="tcpServerChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tcpIp" serializeAs="String">
                <value />
            </setting>
            <setting name="tcpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="udpServerChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="udpIp" serializeAs="String">
                <value />
            </setting>
            <setting name="udpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="serialBaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="serialDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="serialStopBits" serializeAs="String">
                <value />
            </setting>
            <setting name="serialParity" serializeAs="String">
                <value />
            </setting>
            <setting name="autoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="displayASCII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="displayDetailed" serializeAs="String">
                <value>False</value>
            </setting>
        </Falcon.Properties.Settings>
    </userSettings>
</configuration>