<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Falcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Falcon.Properties.Settings>
            <setting name="TcpServerChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TcpIp" serializeAs="String">
                <value />
            </setting>
            <setting name="TcpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UdpServerChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UdpIp" serializeAs="String">
                <value />
            </setting>
            <setting name="UdpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialBaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialStopBits" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialParity" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextFormat" serializeAs="String">
                <value>ASCII</value>
            </setting>
            <setting name="DisplayDetailed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineEnding" serializeAs="String">
                <value>None</value>
            </setting>
        </Falcon.Properties.Settings>
    </userSettings>
</configuration>